# Logs
logs
*.log
consoleSettings.Development.json


/ConsoleDbMigrationScript/.vs/ConsoleDbMigrationScript/v16/TestStore/0
/ConsoleDbMigrationScript/.vs/ConsoleDbMigrationScript/v16
/ConsoleDbMigrationScript/ConsoleDbMigrationScript/bin/Debug/netcoreapp3.1
/ConsoleDbMigrationScript/ConsoleDbMigrationScript/obj/Debug/netcoreapp3.1
/ConsoleDbMigrationScript/ConsoleDbMigrationScript/obj
/ConsoleDbMigrationScript/.vs/ConsoleDbMigrationScript/config
/ConsoleDbMigrationScript/ConsoleDbMigrationScript.Tests.Integration/obj
